@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html, body {
	height: 100%;
  }

.app {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: "Quicksand", sans-serif;
    background-color: #f7f0e6;
    color: #573c3c;
}
