.input-label {
    font-size: 1.5rem;
    font-weight: 550;
  }
  
  .input-field {
    font-size: 1.15rem;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #573c3c;
    border-radius: 5px;
    color: #573c3c;
    background-color: #fae4b5;
  }
  
  .submit-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: #B6D7CE;
    color: #573c3c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  textarea.input-field {
    height: 75px;
  }
  