.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hackhealth-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    height: 100%;
    width: 700px;
}
