/* .input-label {
    font-size: 1.15rem;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7f63fc;
    border-radius: 5px;
    color: #1b1133;
    background-color: #DACCFA;
  }
  
  .submit-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    background-color: #7f63fc;
    color: #DACCFA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  textarea.input-field {
    height: 75px;
  }
   */