.top-bar {
  justify-content: center;
};

.name {
    position: sticky;
};

.work {
    flex: 2;
    font-size: large;
};

.about {
    position: sticky;
};

.contact {
    position: sticky;
};

.cv {
    position: sticky;
};