.top-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-item {
  display: flex;
  font-size: 17px;
  margin: 0 30px;
  color: #DACCFA; 
  font-weight: 600;
}